{% extends "base.html" %}

{% block content %}

  <h1>
    Mia's buggy editor: hamster boogaloo
  </h1>

	<center>
		<div class="spacer">
			<div class = "box" style="background:#e21836;">
				<a href="/new">
				<img class="image" src="/static/img/build.png">
				<div class="overlay"><div class="text">Make buggy</div></div></a>
			</div>
			
			<div class = "box" style="background:#f68e1f;">
			<img class="image" src="/static/img/show.png">
			<a href="/buggy"><div class="overlay"><div class="text">Show buggy</div></div></a>
			</div>
			
			<div class = "box" style="background:#07bbc1;">
			<img class="image" src="/static/img/json.png">
			<a href="/json"><div class="overlay"><div class="text">Get buggy JSON</div></div></a>
			</div>
			
			<div class = "box" style="background:#87c440;">
			<img class="image" src="/static/img/delete.png">
			<a href="/delete"><div class="overlay"><div class="text">Delete buggy</div></div></a>
			</div>
			
		 </div>
	</center>

  <p>
    Use this editor to specify a racing buggy. The editor saves it in its
    little database and generates JSON data for the buggy. This is the data you
    need to supply when you log into the
    <strong><a href="{{ server_url }}">race server</a></strong> and enter your
    buggy into the next race.
  </p>
  <p>
    Remember that if your data is not accepted by the race server, your buggy
    will be disqualified from that race... so make sure you program your editor
    correctly.
  </p>

{% endblock %}
